<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="C:/BC"/>
  <variable name="logArchiveDirectory" value="${logDirectory}/archive/logic"/>
  
  
  <variable name="logDir" value="${logDirectory}/${processname}"/>
  <variable name="logDirArc" value="${logArchiveDirectory}/${processname}/arc_${shortdate}"/>

  <variable name="logFile" value="${processname}.log"/>
  <variable name="arcFile" value="${processname}.archive.{######}.arc"/>
  
  <targets async="true">
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level:padding=-5:uppercase=true}][${callsite:className=false:methodName=true}] ${message}" >
			
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkCyan" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
	
    <target name="file" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Grow">
    <target name="logic_file" xsi:type="File"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level:pad=5:uppercase=true}][${callsite:className=false:methodName=true}] ${message}"
            fileName="${logDir}/loginlogic/${processname}.log"
            archiveFileName="${logLoginLogicArchiveDirectory}/${processname}.archive.{######}.arc"
            archiveNumbering="Sequence"
            archiveAboveSize="40960000"
            maxArchiveFiles="10000"
            encoding="UTF-8"/>
    </target>
    
    <target name="file" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Grow">
    <target name="logic_file_exception" xsi:type="File"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}[${level:pad=5:uppercase=true}][${callsite:className=false:methodName=true}][${stacktrace}] ${message:exceptionSeparator=EXCEPTION:withException=true}"
            fileName="${logDir}/loginlogic/${processname}.exception.log"
            archiveFileName="${logGameLogicArchiveDirectory}/${processname}.archive.exception.{######}.arc"
            archiveNumbering="Sequence"
            archiveAboveSize="40960000"
            maxArchiveFiles="10000"
            encoding="UTF-8"/>
    </target>	
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole"/> 
    <logger name="*" minlevel="Debug" writeTo="logic_file"/>
    <logger name="*" minlevel="Error" writeTo="logic_file_exception"/>    		
  </rules>
</nlog>
